#dropdownicon {
    width: 18px;
    height: 18px;
    padding-right: 10px;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border-radius: 5%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 50px;
}

.dropdown-button {
    cursor: pointer;
    margin-top: -10px;
    border: 1px solid #111;
    border-radius: 50px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-button:hover {
    box-shadow: 0 0 6px -2px black;
}

#dropdown-profile-pic {
    width: 30px;
    border-radius: 50%;
}

#menu-dropdown {
    list-style: none;
    padding-left: 0;
    margin: 0
}

#menu-dropdown li {
    cursor: pointer;
    padding: 15px 20px;
}

#menu-dropdown li:hover {
    background-color: #eee;
}

#menu-dropdown li.info-li {
    cursor: default;
    padding: 10px 20px;
    white-space: nowrap;
}

#menu-dropdown li.info-li:hover {
    background-color: #f9f9f9;
}

#menu-dropdown li.info-li.section-li {
    background: #ddd;
    padding: 1px;
}
