#logo-img {
    width: 50px;
    padding: 10px;
    padding-left: 0;
}

#span-logo {
    display: flex;
    align-items: center;
    color: #FF385C;
    font-weight: 700;
    font-size: 20px;
}

#logo {
    display: flex;
    flex-direction: row;
    text-decoration: none
}

#header-container {
    display: flex;
    align-items: center;
}
