.login-form {
    display: flex;
    flex-direction: column;
    width: 520px;
    border: 1px red solid;
}

.demo-button {
    border: none;
    background-color: #FFF;
    padding: 15px 185px 15px 15px;
    font-size: .8rem;
    width: 250px;
    text-align: left;
    white-space: nowrap;
}
.demo-button:hover{
    background-color: #F6F6F6;
    cursor: pointer;
}
